body {
  font-family: "Times New Roman", Georgia, Serif;
  background-color: #ffe8cc;
}

h1 {
  color: #ec6e4c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 5;
  padding: 5;
  color: #e8590c;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  padding: 30px;
  border: 2px solid #f76707;
  border-radius: 5px;
}

.overview {
  margin-bottom: 50px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #fd7e14;
  font-size: 70px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #161513;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
